body{
    background:linear-gradient(white, aqua);
    background-attachment: fixed;
} 

.foto1{
    width: 300px;
    height: 730px;
    position: relative;
}

#imagem1{
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.texto1{
    position:absolute;
    top:390px;
    font-size: 23px;
    line-height: 35px;
    background-color: blue;
    color: green;
    border: 1px solid;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: justify;

}



.foto2{
    width: 300px;
    height: 730px;
    position: absolute;
    left: 330px;
    top:10px;
}

#imagem2{
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.texto2{
    position:absolute;
    top:390px;
    font-size: 23px;
    line-height: 35px;
    background-color: blue;
    color: green;
    border: 1px solid;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: justify;

}


.foto3{
    width: 300px;
    height: 730px;
    position: absolute;
    left: 660px;
    top:10px;
}

#imagem3{
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.texto3{
    position:absolute;
    top:390px;
    font-size: 23px;
    line-height: 35px;
    background-color: blue;
    color: green;
    border: 1px solid;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: justify;

}


.foto4{
    width: 300px;
    height: 730px;
    position: absolute;
    left: 970px;
    top:10px;
}

#imagem4{
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.texto4{
    position:absolute;
    top:390px;
    font-size: 23px;
    line-height: 35px;
    background-color: blue;
    color: green;
    border: 1px solid;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: justify;

}


.foto5{
    width: 300px;
    height: 730px;
    position: absolute;
    left:1000px;
    top:60px;
}

#imagem5{
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.texto5{
    position:absolute;
    top:390px;
    font-size: 23px;
    line-height: 35px;
    background-color: red;
    color: green;
    border: 1px solid;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: justify;

}



.foto6{
    width: 300px;
    height: 730px;
    position: absolute;
    left:1000px;
    top:60px;
}

#imagem6{
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.texto6{
    position:absolute;
    top:390px;
    font-size: 23px;
    line-height: 35px;
    background-color: red;
    color: green;
    border: 1px solid;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: justify;

}







