/* Tela Login do usuario*/ 

#login-do-usuario {
  margin: 0;
  padding: 0;
  background-color: #032639;
  font-family: Arial, Helvetica, sans-serif;
}

.header-user-da-land-grow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  background-color: #032639;
}

.Logo-lg-login-user {
  width: 180px;
}

.home-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.main-do-usuario {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-container {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: -50px;
}


#img_logo_land_Grow {
  width: 90px;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.login-box {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 24px;
  background-color: transparent;
  width: 400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:40px;
  padding-top: 60px;
  clip-path: polygon(
    0 0, 
    45% 0, 
    45% 40px, 
    55% 40px, 
    55% 0, 
    100% 0, 
    100% 100%, 
    0 100%
  );
}

.input-box-land-Grow input {
  background-color: transparent;
  border:none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  font-size: 16px;
  width:344px;
  padding: 5px;
  margin-top: 80px;
}

#icon-usuario-do-cliente {
    position: absolute;
    left:66px;
    top:120px;
    width:42px;
  }

.txt-1-escrever {
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: -10px;
}

.inputs-login {      
  width: 100px;
  margin-top:-10px;
  display: flex;
  flex-direction: column;
  row-gap:5px;
  align-items: center;
}

.input-box {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  width: 90%;
  padding: 5px;
  margin-top:px;
}

#icon-cadeado-do-cliente {
  width: 34px;
  height: 34px;
  margin-right: 10px;
}

.input-box input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  width: 100%;
  font-size: 16px;
  margin-bottom:-100px;
  margin-top: 100px;
}

.lembrar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 14px;
}

.lembrar a {
  color: white;
  text-decoration: none;
}

.g-recaptcha {
  margin: 20px ;
  margin-top: 130px;
}

.btn_reCAPTCHA {
  width: 320px;

}
 
.login-button {
  background-color: #c6ff00;
  color: #000;
  font-weight: bold;
  border: none;
  padding: 14px;
  width: 250px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  margin-top:-40px;
}

.login-button:hover {
  background-color: #b5eb00;
}

.footer {
  background-color: #c6ff00;
  text-align: center;
  padding: 15px 0;
  font-size: 12px;
  color: #032639;
}

.botao-login-land-grow {
  display: flex;
  justify-content: center;
  width:100%; 
  margin-top: 30px;
  background-color: #d3ff00; 
  border: none;
  padding: 14px;
  font-size: 18px;
  font-weight: bold;
  border-radius:6px;
  width:250px;
  cursor: pointer;
}







