body{
    background:linear-gradient(#032639);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} 

.foto1{
    width:137px;
    height:141px;
    position:absolute;
    top:30px;
    text-align: center;
    left:875px;  
}

#imagem1 {
    width: 86%;
    position:absolute;
    margin-top: 20px; /* Isso vai abaixar a imagem 30px */
    top:-60px;
    left: 20px;
}

.texto1{
    position:absolute;
    top:50px;
    font-size:30px; 
    line-height: 40px;
    color:white;
    border-bottom-right-radius:10px;
    border-bottom-left-radius: 10px;
    left:16%;

}

.login-box {
    border: 1px solid #ffffff; /* Borda branca */
    border-radius: 10px; /* Arredondamento */
    padding: 40px;
    width: 614px;
    height: 658.41px;
    text-align: center;
    background-color: transparent; /* Sem fundo */
    clip-path: polygon(
        0 0, 
        45% 0, 
        45% 40px, 
        45% 40px, 
        45% 0, 
        100% 0, 
        100% 100%, 
        0 100%
      );
}

#icon{
    
}